
<h2>Sales overview</h2>
<div class="card">
  <!-- <h5>Sales overview</h5> -->
  <p-table #dt [value]="products"
  [globalFilterFields]="['id','name','description','price','quantity']"
  >

    <ng-template pTemplate="caption">
      <div class="table-header">
          List of Sales
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
      </div>
  </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="code">id <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="category">salesQ1 <p-sortIcon field="salesQ1"></p-sortIcon></th>
              <th pSortableColumn="quantity">salesQ2 <p-sortIcon field="salesQ2"></p-sortIcon></th>
              <th pSortableColumn="quantity">salesQ3 <p-sortIcon field="salesQ3"></p-sortIcon></th>
              <th pSortableColumn="quantity">salesQ4 <p-sortIcon field="salesQ4"></p-sortIcon></th>
              <th pSortableColumn="price">Total <p-sortIcon field="Total"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.productID}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.salesQ1}}</td>
              <td>{{product.salesQ2}}</td>
              <td>{{product.salesQ3}}</td>
              <td>{{product.salesQ4}}</td>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.productID">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.productID}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.productName" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.productName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.salesQ1" >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.salesQ1}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.salesQ2" >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.salesQ2}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.salesQ3" >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.salesQ3}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.salesQ4" >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.salesQ4}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.price">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.price | currency: 'USD'}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>


  </p-table>
</div>