<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2>Add a new product</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="id">Id</label>
        <input type="text" formControlName="id" class="form-control" />
        <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
          <div *ngIf="f.id.errors.required">id is required</div>
          <div *ngIf="f.id.errors.name">id is not valid</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <div *ngIf="f.name.errors.name">Name is not valid</div>
        </div>
      </div>

      <div class="form-group">
        <label for="manager">Manager</label>
        <input type="text" formControlName="manager" class="form-control" />
        <div *ngIf="submitted && f.manager.errors" class="invalid-feedback">
          <div *ngIf="f.manager.errors.required">Manager is required</div>
          <div *ngIf="f.manager.errors.minlength">
            Manager must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="date">date</label>
        <input type="date" formControlName="date" class="form-control" />
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
          <div *ngIf="f.date.errors.required">Manager is required</div>
          <div *ngIf="f.date.errors.minlength">
            Manager must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">
          add product
        </button>
      </div>
    </form>
  </div>
</div>
